<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100068195210091">
               <i class="fa-brands fa-square-facebook"></i>
            </a>
           
           <a href="https://www.instagram.com/listings_airbnb?igsh=ZmE1eHhlYjlydnJ6&utm_source=ig_contact_invite">
               <i class="fa-brands fa-square-instagram"></i>
           </a>
           <a href="https://www.linkedin.com/company/ty_listing_123_airbnb/about/?viewAsMember=true" >
               <i class="fa-brands fa-linkedin"></i>
           </a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>  
        </div>     
    </div>
</footer>